<div class="container">
  <div class="row"> 
    <div class="four column">
      <h1>The Greatest Weather App in the World</h1>
      <h3>Search for the weather in cities of your choice!</h1>
      <input type="text" id="queryCity">
      <button name="queryCity" id="searchWeather">Search</button>
    </div>

    <div class="four column">
      <ul id="displayCityQuery"></ul>
    </div>
    <div class="four column">
      <div id="weatherOfCity"></div>
    </div>
  </div>
</div>
